html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Trebuchet MS';
  src: url(../public/fonts/trebuc.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
